.Button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    box-shadow: 0 10px 20px 4px rgba(35, 35, 35, .1);
    background-color: white;
    border-radius: 8px;
}

.Button:hover{
   cursor: pointer;
   outline: 1px solid #008bf8;
}

.Button:active{
    box-shadow: none;
    padding-top: .4em;
    padding-bottom: .4em;
}