.navbar{
    background: linear-gradient(130deg, rgba(54,155,17,1) 19%, rgba(163,247,71,1) 100%);
    padding: 1em 4.5em 1em 4.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2em;
    transition: all .1s ease-in;
}
.menu-icon, .hamburger-icon, .close-button{
    display: none;
}
@media screen and (max-width: 800px) {
    .nav-right{
        display: hidden;
        position: fixed;
        gap: 0;
        z-index: 1003;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 2em;
        right:-100%;
        top: 0;
        background-color: #63ca30;
        height: 100vh;
        transition: all .3s ease-in;
    }
    .active .close-button{
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;
        width: 1.2em;
        cursor: pointer;
        height: auto;
    }
    .active{
        display: flex;
        right: 0;
        transition: all .3s ease-out;
    }
    .hamburger-icon{
        display: block;
        width: 2.2em;
        height: auto;
        cursor: pointer;
    }
    .active .menu-icon{
        display: block;
        align-self: center;
        width: 2.5em;
        margin-bottom: 1.5em;
        height: auto;
    }
}
    